# Ignore Gradle project-specific cache directory
.gradle
actions_service_key
id_rsa
build.gradle
jarvis_key

# Ignore Gradle build output directory
build

.settings
bin
.project
.classpath

.idea
*.iml
local.properties
/id_rsa