@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html {
	display: block;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}

body {
  display: block;
  /* width: 100%; */
  height: 100%;
  margin: 0;
/*   margin: 3.5rem 0rem 0rem 0rem; */
  background-color: #cde3f4;
  background-image: url('../img/p2-2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

iframe {
	width: 0px;
	height: 0px;
	border: 0;
}

/*#welcomeBox {*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	align-items: center;*/
/*}*/

/*#welcomeBigText {*/
/*	font-size: 3rem;*/
/*	font-weight: bold;*/
/*	margin-bottom: 0;*/
/*}*/

/*#welcomeSmallText {*/
/*	font-weight: bold;*/
/*}*/

#endText {
	display: none;
}

#startImage {
	width: 100%;
	height: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	background-image: url('../img/p2-2.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.imagemap {
	width: 100%;
}

img[usemap] {
	border: none;
	height: auto;
	max-width: 100%;
	width: 100%;
}

.option {
	display: none;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

.questionDiv {
	position: absolute;
    top: 131px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 20%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
	width: 90%;
	height: 160px;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 9px 10px 3px rgba(0, 0, 0, 0.2);
}

.selectionBox {
	width: 20%;
    flex-direction: column-reverse;
    display: flex;
	align-items: center;
	white-space: nowrap;
	margin-bottom: 10px;
	font-size: 0.8rem;
}

.accoBox {
	width: 30%;
}

.eatBox {
	width: 30%;

	line-height: 2rem;
}

.eatBox > img {
	height: 60px;
}

.healBox {
	width: 40%;
	margin-right: 10px;
	margin-left: 10px;
	line-height: 2rem;
}

.healBox > img {
	height: 80px;
}

.tourBox {
	margin-left: 5px;
	margin-right: 5px;
	line-height: 2rem;
}

.charaDiv {
	display: flex;
    height: 32%;
    top: 430px;
    position: absolute;
    width: 100%;
}

.charaImage {
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.iconOption {
	height: 50px;
}

.question {
	font-size: 1.2rem;
	position: absolute;
	top: 10%;
	font-weight: bold;
}

.keyword {
	position: relative;
	left: 0px;
	top: 0px;
	display: flex;
	align-items: stretch;
	white-space: nowrap;
	background-color: rgba(212, 245, 254, 1);
	width: 100%;
}

.flex-container {
	overflow: auto;
	display: flex;
	height: auto;
	width: 90%;
	background-color: rgba(212, 245, 254, 1);
}

.flex-container > div {
	position: relative;
	right: 0px;
	top: 0px;
	margin: 10px;
	border-radius: 30px;
	background-color: rgba(109, 141, 224, 1);
	width: fit-content;
	height: auto;
	text-align: center;
	font-size: 15px;
	padding: 15px;
	color: white;
	font-weight: bold;
}

.view_full {
	display: none;
	width: 100%;
	height: 100%;
	/*overflow-y: scroll;*/
	background-size: 100% 100%;
	background-color: #ffffff;
	background-repeat: no-repeat;
	overflow: hidden;
}

.view {
	display: none;
	/* width: 100%; */
	/* position: absolute; */
	margin-top: 3.5rem;
	height: 100%;
	/*overflow-y: scroll;*/
	background-size: 100%;
	background-color: #ffffff;
	background-repeat: no-repeat;
}

.recommended {
	display: block;
	width: 100%;
	height: 100%;
	/*	overflow: hidden;*/
	background-position: center;
	background-size: 100%;
	background-color: #e6f1f9;
	background-repeat: no-repeat;
	/*	background-image: url("../img/reco_result_2.png");*/
}

.recoQuestionDiv {
	position: absolute;
	top: 197px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 20%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
	width: 90%;
	height: 80px;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 9px 10px 3px rgba(0, 0, 0, 0.2);
}

.recoBox {
	width: 30%;
	line-height: 2rem;
	font-size: 0.9rem;
}

.recoBox > img {
	height: 50px;
}

.recoStepOneBox_1 {
	width: 35%;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 2rem;
}

.recoStepOneBox_1 > img {
	height: 50px;
}

.recoStepOneBox_2 {
	margin-left: 5px;
	margin-right: 5px;
	line-height: 2rem;
}

.recoStepOneBox_2 > img {
	height: 50px;
}

.historyChipsDiv {
	display: flex;
    position: absolute;
    top: 163px;
    left: 5%;
}

.historyChip{
	font-size: 13px;
    color: #ffffff;
    text-align: center;
    padding: 1px 10px 1px 10px;
    width: auto;
    height: 25px;
    border-radius: 16px;
    line-height: 23px;
    background-color: #2185D0;
    margin-right: 10px;
}

.recoStepTwoSelectionDiv {
	position: absolute;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recoStepTwoSelection {
	margin-bottom: 1rem;
    font-size: 0.9rem;
}

.reco_header {
	width: 100%;
	height: 83px;
	background-image: url(../img/reco_header.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: auto;
}

.reco_header > img {
	width: 100%;
}

#reco_step_locale_header {
	background-image: url(../img/reco_step_locale_header.png);
}

.reco_body {
	/*	border-top: 2px solid #d2d2d2;*/
	position: relative;
	display: table;
	width: 100%;
	height: 78%;
	/*
	padding-left: 1.5rem;
	padding-right: 1.5rem;
*/
	background-color: white;
	z-index: 0;
	overflow: scroll;
}

.reco_title {
	background-color: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position: relative;
	text-align: center;
	box-shadow: 0px -5px 10px -5px rgba(0, 0, 0, 0.1);
	font-weight: 600;
	font-size: 24px;
	line-height: 56px;
}

.line {
	background-color: #d2d2d2;
	color: #a7a7a7;
	width: 97%;
	height: 2px;
	margin: 0% 1.5%;
	text-align: center;
}

.hashtag {
	background-color: white;
	color: #a7a7a7;
	text-align: center;
	line-height: 48px;
	font-size: 16px;
}

#reco_step_result_map {
	position: relative;
	top: 40px;
	width: 360px;
	height: 340px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url("../img/reco_result_2.png");
}

.previous {
	position: relative;
	float: left;
	left: 13px;
	top: 16px;
	z-index: 1;
}

.previous > img {
	width: 16px;
	height: 24px;
}

.reco_button {
	position: absolute;
	font-size: 13.6px;
	color: #ffffff;
	text-align: center;
	width: 40px;
	height: 25px;
	border-radius: 4.8px;
	line-height: 23px;
	background-color: #949494;
	font-weight: 400;
}

.exists {
	background-color: #2185D0;
}

#chip1 {
	/* 강릉 */
	top: 192px;
	left: 265px;
}

#chip2 {
	/* 고성 */
	top: 43px;
	left: 198px;
}

#chip3 {
	/* 동해 */
	top: 230px;
	left: 300px;
}

#chip4 {
	/* 삼척 */
	top: 280px;
	left: 86%;
}

#chip5 {
	/* 속초 */
	top: 79px;
	left: 225px;
}

#chip6 {
	/* 양구 */
	top: 75px;
	left: 127px;
}

#chip7 {
	/* 양양 */
	top: 126px;
	left: 230px;
}

#chip8 {
	/* 영월 */
	top: 290px;
	left: 190px;
}

#chip9 {
	/* 원주 */
	top: 260px;
	left: 100px;
}

#chip10 {
	/* 인제 */
	top: 105px;
	left: 170px;
}

#chip11 {
	/* 정선 */
	top: 255px;
	left: 235px;
}

#chip12 {
	/* 철원 */
	top: 67px;
	left: 30px;
}

#chip13 {
	/* 춘천 */
	top: 130px;
	left: 78px;
}

#chip14 {
	/* 태백 */
	top: 310px;
	left: 270px;
}

#chip15 {
	/* 평창 */
	top: 205px;
	left: 195px;
}

#chip16 {
	/* 홍천 */
	top: 170px;
	left: 130px;
}

#chip17 {
	/* 화천 */
	top: 82px;
	left: 75px;
}

#chip18 {
	/* 횡성 */
	top: 210px;
	left: 135px;
}

#reco_step_locale_fixed {
	position: fixed;
	display: block;
	height: auto;
	width: 100%;
	z-index: 3;
	background-color: #e6f1f9;
}

#blank_space {
	position: relative;
}

#reco_step_locale_body {
	position: relative;
	background-color: white;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.reco_step_locale_subject {
	font-weight: 600;
	font-size: 18px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	line-height: 40px;
}

#reco_step_locale_acco_more {
	position: relative;
	width: 50px;
	top: 8px;
	float: right;
	background-color: #2185d0;

}

#reco_step_locale_acco {
	display: flex;
	/*	max-width: 150px;*/
	height: 6rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	font-size: 0.75rem;
	overflow-x: scroll;
}

.localeAcco {
	display: flex;
	flex-flow: wrap;
	/*	width: 150px;*/
	margin-right: 10px;
	max-width: 150px;
	height: 5.5rem;
	border-radius: 1rem;
	box-shadow: 0px 3px 5px gray;
	/*	float: left;*/
}

.localeAcco-img {
	flex: 1;
	height: auto;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.localeAcco-img > img {
	position: relative;
	width: 100%;
	height: 5.5rem;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.localeAcco-disc {
	display: flex;
	flex-direction: column;
	flex: 2;
	height: 5.5rem;
	line-height: 1.5rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background-color: white;
	overflow: hidden;
	white-space: nowrap;
}

.acco {
	flex: 1;
	text-align: left;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	color: #a7a7a7;
	overflow: hidden;
	text-overflow: ellipsis;
}

.acconame {
	color: black;
	font-weight: 600;
	font-size: 1rem;
	margin-top: 0.5rem;
}

.accocat {}

.accoaddr {
	white-space: nowrap;
	margin-bottom: 0.5rem;
}

#reco_step_locale_buttons {
	display: flex;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

#getNavigation {
	margin-right: 10px;
	background-color: #2185d0;
	color: white;
}

#getOtherCourse {
	background-color: #cde3f4;
}

.localeButtons {
	flex: 1;
	text-align: center;
	border-radius: 0.3rem;
	box-shadow: 0px 3px 5px gray;
	line-height: 32px;
}

#reco_step_locale_tmapview {
	margin: 0.5rem 1.5rem;
	width: auto;
	height: 16%;
	background-color: violet;
	border-radius: 0.7rem;
}

#reco_step_locale_tmapview > div {
	border-radius: 0.7rem;
}

#reco_step_locale_course {
	width: auto;
	height: auto;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.locale_day {
	display: none;
}

.course-list {
	position: relative;
	width: auto;
}

.locale-circle {
	position: relative;
	z-index: 1;
	display: table;
	/*	background-size: 1rem;*/
	background-color: #cde3f4;
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;
	text-align: center;
	box-shadow: 0px 3px 8px gray;
}

.restaurant {
	background-color: #2185d0;
	color: white;
}

.course-name {
	display: inline;
	position: relative;
	top: -1.75rem;
	left: 3rem;
}

.course-name > span {
	color: #a7a7a7;
}

.verticalLine {
	display: block;
	position: absolute;
	left: 2.4rem;
	width: 0.125rem;
	height: 646.375px;
	background-size: 100%;
	background-color: #a7a7a7;
}

.locale-box {
	display: flex;
	position: relative;
	/* for result-circle */
	top: -1rem;
	margin: 0.1rem 1.5rem 1rem 2rem;
	/* width: auto; */
	height: 5.5rem;
	font-size: 0.75rem;
	font-weight: bold;
	border-radius: 1rem;
	box-shadow: 0px 3px 5px gray;
}

.locale-box-img {
	flex: 1;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.locale-box-img > img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.locale-box-disc {
	display: flex;
	flex-direction: column;
	flex: 1.76;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.locale-box-disc-title {
	flex: 1;
	margin: 1rem 0.5rem 0.3rem 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.locale-box-disc-addr {
	flex: 1;
	width: 9.7rem;
	margin: 0.3rem 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #a7a7a7;
}

.locale-box-disc-addr > i {
	color: gray;
}

.day_divider {
	text-align: center;
	position: relative;
	top: -10px;
}

.day_divider > span {
	color: #2185d0;
}

.day2 {
	display: none;
}

#lazy_border{
	border: 0px;
	margin: 0px;
	display: block;
	height: 10px;
	background: transparent;
}

.horizontalLine {
	display: inline-block;
	position: relative;
	bottom: 5px;
	width: 5rem;
	height: 5px;
	background-color: #d5d5d5;
	margin: 0rem 1rem;
}

.left {
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.right {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

/*.list-box {*/
/*	display: flex;*/
/*	position: relative;  for result-circle */
/*	margin: 0.1rem 1.5rem 1rem 2rem;*/
/* width: auto; */
/*	height: 5.5rem;*/
/*	font-size: 0.75rem;*/
/*	font-weight: bold;*/
/*	border-radius: 1rem;*/
/*	box-shadow: 0px 3px 5px gray;*/
/*}*/

.mycourse {
	display: block;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background-size: 100%;
	background-color: #1ad3f1;
	background-repeat: no-repeat;
}

#info_result {
	display: flex;
	flex-direction: column;
	/* height: auto; */
}

.result-map {
	background-color: #1ad3f1;
	/* z-index: 0; */
}

.chara {
	position: relative;
	top: -2.5rem;
	width: 100%;
	height: 7.5rem;
	background-color: transparent;
	background-size: 100%, 5rem;
	/* border-bottom: gray; */
	background-repeat: no-repeat;
	margin-bottom: 0.5rem;
}

.result-list {
	position: relative;
	top: -2rem;
	/* height: calc(100% - 18rem);18.3rem; */
	overflow-y: scroll;
}

.loading-spinner {
	height: 50px;
	background: transparent url("../img/loader.svg") no-repeat 50%;
	background-size: 3.6rem 1.8rem;
	animation: flipAnimation 1s infinite;
	/* transition: opacity .3s; */
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
}
@keyframes flipAnimation {
	0% { transform: rotateY(-180deg); }
  	50% { transform: rotateY(0deg); }
  	100% { transform: rotateY(-180deg); }
}


.list-total-count {
	margin-left: 1.8rem;
	font-size: 0.8rem;
	color: gray;
}

.list-box {
	display: flex;
	position: relative;
	/* for result-circle */
	margin: 0.1rem 1.5rem 1rem 2rem;
	/* width: auto; */
	height: 5.5rem;
	font-size: 0.75rem;
	font-weight: bold;
	border-radius: 1rem;
	box-shadow: 0px 3px 5px gray;
}

.result-circle {
	position: absolute;
	top: 1.75rem;
	left: -1rem;
	float: left;
	z-index: 1;
	display: table;
	background-size: 1rem;
	background-color: #ffffff;
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;
	text-align: center;
	box-shadow: 0px 3px 8px gray;
}

.result-number {
	display: table-cell;
	vertical-align: middle;
}

.result-img {
	position: relative;
	/* display: block; */
	flex: 1;
	margin: 0rem;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.result-img > img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.result-text {
	display: flex;
	flex-direction: column;
	flex: 2;
	margin: 0.5rem;
}

.result-title {
	text-align: right;
	flex: 1;
	margin-right: 0.5rem;
}

.result-addr {
	text-align: right;
	margin: 0 0.3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 13rem;
}

::-webkit-scrollbar {
	/* TODO */
	width: 0px;
	background: transparent;
	display: none;
}

::-webkit-scrollbar-thumb {
	background: transparent;
}

.detail_title_text {
	white-space: nowrap;
	margin: 0 4.5rem 0 3rem;
	text-align: center;
	align-self: flex-start;
	overflow: hidden;
	font-size: 1.22rem;
	color: #2185d0;
}
.marquee {
	animation: marquee 13s linear infinite;
}
@keyframes marquee {
	/* 0% { left: 0; }
	100% { left: -150%; } */
	0% {text-indent: 10%;}
  	100% {text-indent: -100%;}
}
.goto_tmap {
	width: 2.5rem;
}

.detail-title2 {
	position: relative;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: auto;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	word-break: break-all;
	padding-bottom: 0rem;
}

.info-detail {
	position: relative;
	width: 100%;
	/* height: 100%; */
	overflow: scroll;
	align-items: center;
}

.detail_info-img {
	width: 100%;
	max-height: 9rem;
	/*20*/
	left: 0px;
	overflow-x: scroll;
	display: flex;
	margin: 0.3rem;
}

.detail_info-img > img {
	max-width: 30%;
	/* max-height: 30rem; */
	height: auto;
	padding: 0.1rem;
}

.detail-etc {
	position: relative;
	margin: 0.5rem;
	line-height: 1.2rem;
	text-align: left;
	font-size: 0.7rem;
	color: #a9a9a9;
	text-align: center;
}

h4 {
	width: 50%;
	border-bottom: 2px solid #d3d3d3;
	margin: 0.5rem 1.5rem;
	padding-bottom: 0.35rem;
}

.detail-descript {
	position: relative;
	margin: 1rem 1.5rem;
	font-size: 0.65rem;
	color: #a0a0a0;
	text-align: justify;
}

.detail-intro {
	background-color: #f8f8f8;
	height: 6rem;
	line-height: 1.2rem;
	overflow-y: scroll;
	font-size: 0.65rem;
	margin: 0 1.5rem;
	padding: 0.2rem 1rem;
}

.result-list > img {
	width: 100%;
	position: relative;
	bottom: 0;
}

#info_detail > img {
	/* info_search_detail_view */
	width: 100%;
	height: 6rem;
	background-color: #ffffff;
}

#local_info_result {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.localfood_guide_01 {
	height: 8.9rem;
	background-image: url("../img/local_food_01.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.localfood_guide_01 span {
	position: relative;
	left: 36%;
	top: 60%;
	font-weight: bold;
	/* letter-spacing: 0.1rem; */
	word-spacing: 0px;
}

#local_info_result > img {
	display: block;
	width: 100%;
	max-height: 35%;
}

.localfood_guide_02 {
	margin-top: 0.6rem;
	position: relative;
	font-size: 1.4rem;
	font-weight: bold;
	background-color: #ffffff;
	text-align: center;
}

.go_prev {
	position: absolute;
	left: 1.2rem;
	top: 0.4rem;
	height: 1.6rem;
	/* padding: auto; */
}

.find_route {
	position: absolute;
	right: 1rem;
	top: 0.4rem;
	max-height: 1.4rem;
}

.localfood_guide_03 {
	/* TODO */
	height: auto;
	/* min-height: 16rem; */
	background-color: #f8f8f8;
	border-radius: 0.5rem;
	padding: 0.1rem;
	margin: 0.6rem 2rem 0;
	flex-grow: 1;
}

.localfood_guide_03 h4 {
	margin-left: 0.5rem;
}

.localfood_guide_04 {
	display: flex;
	width: 100%;
	padding: auto;
	margin: 1.2rem 0;
}
.localfood_guide_04 > img {
	box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.3);
	margin: auto;
	border-radius: 0.6rem;
	width: 37%;
}
.detail-descript-local {
	overflow-y: auto;
	padding: 0 0.5rem;
	font-size: 0.8rem;
	color: gray;
	font-weight: 500;
	min-height: 7.5rem;
	text-align: justify;
}

#region > img:last-child {
	background-color: #ffffff;
	position: absolute;
	bottom: 0;
}

#abt_kw {
	background-image: url("../img/about_kw_01.png");
}

.abt_kw_cat {
	position: absolute;
	bottom: 0.5rem;
	width: 100%;
}

#tour_places {
	display: flex;
	flex-wrap: wrap;
	padding: 0.2rem 0.8rem;
}

#tour_places > img {
	width: 50%;
}

h3 {
	margin: 0.1rem;
	padding: 0.2rem;
	text-align: center;
	border-top: 2px solid #d3d3d3;
}

#local_food_list {
	display: flex;
	flex-flow: wrap;
	flex-direction: column;
	overflow-x: scroll;
	height: 14rem;
	padding: 0.2rem 0.8rem;
}

.card_row {
	/* TODO */
	flex: 2 2 5%;
	background-color: white;
	margin: 0.2rem;
	border-radius: 0.4rem;
	height: 6.5rem;
	text-align: center;
	box-shadow: 0px 1.5px 5px gray;
}

.card_row > img {
	max-height: 4rem;
	width: 6rem;
	border-radius: 0.4rem;
}

.card_row > h5,
.card_row > p {
	margin: 0;
	font-size: 0.7rem;
}

.reco_detail_info-etc {
	position: relative;
	margin: 0rem 5%;
	text-align: left;
}

.reco_detail_info-descript {
	position: relative;
	margin: 1rem 5%;
}

#info_detail_tmapview {
	position: relative;
	/*	align-content: center;*/
	padding: 0rem 0rem;
}

.info_detail_link_name {
	width: 100%;
	position: absolute;
	color: #2185d0;
	font-size: 25px;
	top: 3%;
}

.info_detail_link_name > i {
	position: absolute;
	color: #a7a7a7;
	float: right;
	right: 3.5%;
	top: -10px;
	font-size: 50px;
}

.detail_link_title {
	white-space: nowrap;
	margin-left: 2rem;
	overflow: hidden;
}

/* 모달 생성*/
.modal-container {
	position: fixed;
	left: 0rem;
	top: 0rem;
	padding: 0rem;
	display: none;
	height: 100%;
	width: 100%;
	max-width: 100%;
	z-index: 99;
	transform: scale(1);
	overflow: scroll;
}

.modal-background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: table-cell;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	vertical-align: middle;
	overflow: hidden;
}

.modal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 85%;
	height: 65%;
	/*background: #fff;*/
	background-image: url("../img/p18.png");
	background-size: 100%;
	background-repeat: no-repeat;
/*	text-align: center;*/
}

/* .modal > img {
	height: 100%;
} */

.tmap-btn-info {
	position: relative;
	width: 100%;
}

.tmap-btn-info > a > img {
	width: 100%;
}

.tmap-btn {
	position: relative;
	width: 100%;
}

.tmap-btn > a > img {
	position: relative;
	width: 100%;
}

.tmap-connect { 
	display: flex;
    width: 31.5%;
	margin: 0 auto;
	border-radius: 4.8px;
    position: relative;
    height: 40px;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
	bottom: 18%;
	background-color: #2185D0;
	color: #ffffff;
}

/*
#welcome>img{
	width: 100%;
	height: 100%;
}
*/

.recommended2 {
	background: url("../img/icon/result_list_background.png") no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% auto;
	overflow: scroll;
	display: none;
}

.recommended2 > div > img {
	width: 100%;
}

.optionbutton {
	position: relative;
	width: 95%;
	height: 25%;
	border: 1rem solid red;
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	line-height: 14rem;
}

.detail-subtitle-course {
	width: 100%;
	text-align: center;
	height: auto;
	line-height: 3rem;
}

.detail-img {
	width: 100%;
	height: 30rem;
}

.detail-img > img {
	width: 100%;
	height: 30rem;
}

.detail-img-course {
	width: 60%;
	margin: 0rem 20%;
	max-height: 30rem;
	position: relative;
}

.detail-img-course > img {
	width: 100%;
	max-height: 30rem;
}

.detail-descript-course {
	width: 100%;
	text-align: center;
	height: auto;
	line-height: 2rem;
}

.animation {
	animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.animation .modal-background .modal {
	transform: scale(0);
	animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.animation.out {
	transform: scale(1);
	animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.animation.out .modal-background .modal {
	animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes unfoldIn {
	0% {
		transform: scaleX(0) scaleY(0.005);
	}

	50% {
		transform: scaleX(1) scaleY(0.005);
	}

	100% {
		transform: scaleY(1) scaleX(1);
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(0);
	}

	70% {
		transform: scale(0);
	}

	95% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes zoomOut {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(0);
	}
}

@keyframes unfoldOut {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scaleX(1) scaleY(0.005);
	}

	100% {
		transform: scaleX(0) scaleY(0.005);
	}
}
